<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Aldo Febrian Dirgantara Mulyana</title>
    <script src="https://unpkg.com/vue@3"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="https://cdn.tailwindcss.com"></script>
</head>

<body>
    <div id="app" class="h-screen flex flex-col items-center flex-col gap-y-4 justify-center bg-gray-500">
        <h1 class="font-bold text-[2rem]">SELAMAT DATANG DI TOKO MAKANAN 666</h1>
        <div id="data" class="text-[3rem]">
            <ul v-for="(data, index) in makanan">
                {{index+1}} {{data.nama}} {{data.tipe}}
            </ul>
        </div>
        <div id="data" class="text-[3rem]">
            <ul v-for="(data, index) in minuman">
                {{index+1}} {{data.nama}} {{data.rasa}}
            </ul>
        </div>

        <button @click="generateMakanan()" type="button" class="text-black bg-blue-400 hover:bg-green-700 font-medium rounded-md text-sm px-[10rem] py-2.5 mr-2 mb-2">
        daftar Makanan
      </button>
        <button @click="generateMinuman()" type="button" class="text-black bg-blue-300 hover:bg-green-700 font-medium rounded-md text-sm px-[10rem] py-2.5 mr-2 mb-2">
        daftar Minuman
      </button>
    </div>
    <script src="./index3.js"></script>
</body>

</html>